<div id="publications">
    <div class="article">
        <h1> Research </h1>
        <hr />
        <h4> I am interested in terrestrial planets orbiting ultra-cool stars, in particular planets within their habitable zone.
            During my PhD I have had the chance to be involved in all the aspects of the <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
                SPECULOOS project</a>: technical monitoring and on-site missions, scheduling of the observations, robotic operations, data reduction, data analysis and
            most important of all the interpretation of the results.<br />
            Besides, a great part of my PhD is dedicated to the in-depth study of the Trappist-1 system. Notably, I have had the chance to lead the analysis of more than
            1000 hours of observation of the system with the <a href="http://www.spitzer.caltech.edu/trappist-1"> Spitzer space telescope</a> and
            I have been in charge of the organisation of the Trappist-1
            follow up with SPECULOOS for the last three years. Since Oct 2021 I have joined the <a href="https://www.jwst.nasa.gov/content/observatory/instruments/miri.html"> JWST/MIRI GTO </a>
            science team at <a href="https://irfu.cea.fr/en/index.php"> CEA</a> to work on "unveiling the atmospheric composition of the TRAPPIST-1 planets with MIRI",
            a project for which I was granted the <a href="https://parisregion.eu/parisregionfp.html"> Paris Region Fellowship</a>, an EU co-founded Marie Sklodowska-Curie Action (MSCA) grant.
            Finally, I have a strong interest in astrobiology.  </h4>
        <hr />
        <hr />
        <h1> Codes </h1>
        <hr />
        <h2> <a href="https://github.com/educrot/SPOCK">
               <i><b> spock:</b></i></a></h2>
        <h4 style="font-size:140%;"> To help scheduling observations on the SPECULOOS telescopes I have developed
            this python package that aims at improving and facilitate the scheduling of observations on the
            <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">
                SPECULOOS </a>  telescopes (6 telescopes + 2 <a href="https://www.trappist.uliege.be/cms/c_5006023/fr/trappist">
                TRAPPIST</a> telescopes). <i>spock</i> computes weekly or monthly observations plans for each telescope, taking into account
            several constraints such as  the location of the observatory, the visibility of the target,
            the duration of observations, the airmass,
            the number of hours surveyed and the priority of the target (based on its stellar properties). Besides, as SPECULOOS telescopes are spread over three locations in the world spock
            plays a key role in the coordination of the observation between different observatories (SSO, SNO and SAINT-EX).<br>
            <hr />
            All source codes can be found on my Github page and a comprehensive documentation (in dev) is available <a href="https://educrot.github.io/SPOCK/index.html">
                here</a>.
        </h4>
        <hr />
        <hr />
<!--        <h2> <a href="https://www.speculoos.uliege.be/cms/c_4259452/en/speculoos">-->
<!--                       <b> SPECULOOS:</b></a></h2>-->
<!--        <hr />-->
<!--        <hr />-->
<!--        <h2> <a href="https://exoplanets.nasa.gov/exep/exopag/sag/#sag21">-->
<!--               <b> SAG21:</b></a></h2>-->
    </div>
</div>
