<div id="publications">
    <h1> Curriculum Vitae </h1>
    <hr />
    <p style="color:#0099CC;font-size:20px;">Click the <b> image </b>to see full CV in PDF version</p>

    <hr />
    <hr />
    <p style="font-size:140%;">
        <a href="https://drive.google.com/file/d/11OFXRjSX7sfmZHxHlhWzVCOQ-NHIupOy/view?usp=sharing"><img src="images/cv.png"
                                          style="border-radius: 0%" title="Click here to see my CV in PDF version" alt="Flower"></a>

    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />



</div>
