<div id="publications">
    <h1> Publications </h1>
    <p style="font-size:140%;"> To date, I have contributed to 41 papers, including 39 peer-reviewed publications,
        and 2 of which I was the first author. Please find below a list of my first-author peer-reviewed publications,
        a list of my significant contribution peer-reviewed publications, and a list of the others peer-reviewed publications I was involved in.</p>
    <h2>First-author publications:</h2>
    <div class="article">
        <h3> TRAPPIST-1: Global results of the Spitzer Exploration Science Program Red Worlds </h3>
        <h4><b> Ducrot </b> et al. 2020. A &amp A vol. 640, p. A112, Aug. 2020. <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2020/08/aa37392-19.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The 0.8-4.5 μm Broadband Transmission Spectra of TRAPPIST-1 Planets </h3>
        <h4><b> Ducrot </b> et al. 2018. The Astronomical Journal, Volume 156, Issue 5, article id. 218, 16 pp. (2018). <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156..218D/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>

    <h2>Significant contribution publications:</h2>
<!--    <div class="article">
      <h3> No thick carbon dioxide atmosphere on the rocky exoplanet TRAPPIST-1 c </h3>
      <h4> Zieba, Kreidberg, <b> Ducrot </b> et al. 2023, <i>Accepted for publication in Nature</i>  <br></h4>
      <h4> <a href = ""> [Click here to read full article]</a></h4>
    </div>-->
    <div class="article">
      <h3> Thermal emission from the Earth-sized exoplanet TRAPPIST-1 b using JWST </h3>
      <h4> Greene, Bell, <b> Ducrot </b> et al. 2023, <i> Nature,  Volume 618</i>  <br></h4>
      <h4> <a href = "https://www.nature.com/articles/s41586-023-05951-7"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
      <h3> Two temperate super-Earths transiting a nearby late-type M dwarf </h3>
      <h4> Delrez, Murray, Pozuelos, Narita, <b> Ducrot </b> et al. 2022, <i>A &amp A, Volume 667, id.A59, 31 pp. Nov 2022</i>  <br></h4>
      <h4> <a href = "https://www.aanda.org/component/article?access=doi&doi=10.1051/0004-6361/202244041"> [Click here to read full article]</a></h4>
    </div>
     <div class="article">
        <h3> TOI-2257 b: A highly eccentric long-period sub-Neptune transiting a nearby M dwarf </h3>
        <h4> Schanche, ..., <b> Ducrot </b> et al. 2021. <i>Accepted for publication in A &amp A</i>  <br></h4>
        <h4> <a href="https://arxiv.org/abs/2111.01749"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Refining the transit timing and photometric analysis of TRAPPIST-1: Masses, radii, densities, dynamics, and ephemerides. </h3>
        <h4> Agol, Dorn, Grimm, Turbet,<b> Ducrot </b> et al. 2021. The Planetary Science Journal, vol. 2, Issue 1, id.1, 38 pp. <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/PSJ/abd022"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Development of the SPECULOOS exoplanet search project </h3>
        <h4> Sebastian, Pedersen, Murray, <b> Ducrot </b> et al. 2020. Proceedings of the SPIE, Volume 11445, id. 1144521 16 pp. (2020). <br></h4>
        <h4> <a href="https://doi.org/10.1117/12.2563563"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SPECULOOS - Ultracool Dwarf Transit Survey, Target List and Strategy </h3>
        <h4> Sebastian, Gillon, <b> Ducrot </b> et al. 2020. A &amp A, vol. 645, January 2021. <br></h4>
        <h4> <a href="https://arxiv.org/pdf/2011.02069.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> πEarth: a 3.14-day Earth-sizedPlanet fromK2’s Kitchen Served Warm by the SPECULOOS Team </h3>
        <h4> Niraula, de Wit, Rackham, <b> Ducrot </b> et al. 2020. The Astronomical Journal, vol. 160, Issue 4, id.172, 9 pp.<br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020arXiv200607308N/EPRINT_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Complex Modulation of Rapidly Rotating Young M Dwarfs: AddingPieces to the Puzzle </h3>
        <h4> Günther, Berardo, <b> Ducrot </b> et al. 2020. <i>Submitted to The Astronomical Journal</i>  <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020arXiv200811681G/EPRINT_PDF"> [Click here to read full article]</a></h4>
    </div>


    <h2>Other co-authored publications:</h2>
    <div class="article">
        <h3> prose: A Python framework for modular astronomical images processing </h3>
        <h4> Garcia, Timmermans, Pozuelos, <b> Ducrot </b> et al. 2021. <i>Accepted for publication in the Monthly Notices of the Royal Astronomical Society </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/advance-article-abstract/doi/10.1093/mnras/stab3113/6414007?redirectedFrom=fulltext"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> NGTS clusters survey - III. A low-mass eclipsing binary in the Blanco 1 open cluster spanning the fully convective boundary </h3>
        <h4> Smith, ..., <b> Ducrot </b> et al. 2021. <i>Monthly Notices of the Royal Astronomical Society, Volume 507, Issue 4 </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnrasl/article/504/1/L45/6228864}{doi: 10.1093/mnrasl/slab037"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A large sub-Neptune transiting the thick-disk M4 V TOI-2406 </h3>
        <h4> Wells, ..., <b> Ducrot </b> et al. 2021. <i>A &amp A, Volume 653, id.A97, 17 pp. </i>  <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/abs/2021/09/aa41277-21/aa41277-21.html"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A Study of Flares in the Ultra-Cool Regime from SPECULOOS-South </h3>
        <h4> Murray, ..., <b> Ducrot </b> et al. 2021. <i>Submitted to the Monthly Notices of the Royal Astronomical Society </i>  <br></h4>
        <h4> <a href=""> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A transit timing variation observed for the long-period extremely low-density exoplanet HIP 41378 f </h3>
        <h4> Bryant, ..., <b> Ducrot </b> et al. 2021. <i>Monthly Notices of the Royal Astronomical Society: Letters, Volume 504, Issue 1, pp.L45-L50 </i>  <br></h4>
        <h4> <a href="https://academic.oup.com/mnrasl/article/504/1/L45/6228864}{doi: 10.1093/mnrasl/slab037"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Six transiting planets and a chain of Laplace resonances in TOI-178. </h3>
        <h4> Leleu, Alibert, Hara, ..., <b> Ducrot </b> et al. 2021. <i>Accepted for publication in A &amp A </i>  <br></h4>
        <h4> <a href="https://arxiv.org/abs/2101.09260"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Global analysis of the TRAPPIST Ultra-Cool Dwarf Transit Survey </h3>
        <h4> Lienhard, Queloz, Gillon, Burdanov, Delrez, <b> Ducrot </b> et al. 2020. Monthly Notices of the Royal Astronomical Society, Volume 497, Issue 3, pp.3790-3808 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020MNRAS.497.3790L/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Two Transiting Hot Jupiters from the WASP Survey: WASP-150band WASP-176b </h3>
        <h4> Cooke, Pollacco, Almleaky, ..., <b> Ducrot </b> et al. 2020. The Astronomical Journal, vol. 159, p. 255 <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab88db"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Photometry and performance of SPECULOOS-South </h3>
        <h4> Murray, Delrez, Pedersen, Queloz, Gillon, Burdanov, <b> Ducrot </b> et al. 2020. Monthly Notices of the Royal Astronomical Society, Volume 495, Issue 2, pp.2446-2457 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020MNRAS.495.2446M/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> A Rare Pair of Eclipsing Brown Dwarfs Identified by the SPECULOOS Telescopes </h3>
        <h4> Triaud, Burgasser, Burdanov, ..., <b> Ducrot </b> et al. 2020. The Messenger, vol. 180, p. 37-40 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020Msngr.180...37T/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> An eclipsing substellar binary in a young triple system discovered by SPECULOOS </h3>
        <h4> Triaud, Burgasser, Burdanov, ..., <b> Ducrot </b> et al. 2020. Nature Astronomy, Volume 4, p. 650-657 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2020NatAs...4..650T/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> WASP-180Ab: Doppler tomography of a hot Jupiter orbiting the primary star in a visual binary </h3>
        <h4> Temple, Anderson, Barkaoui, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 490, Issue 2 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/490/2/2467/5572277"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Near-resonance in a System of Sub-Neptunes from TESS </h3>
        <h4> Quinn, Becker, Rodriguez, ..., <b> Ducrot </b> et al. 2019. The Astronomical Journal, vol. 158, p. 177 <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab3f2b"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> WASP-169, WASP-171, WASP-175, and WASP-182: three hot Jupiters and one bloated sub-Saturn mass planet discovered by WASP-South </h3>
        <h4> Nielsen, Bouchy, Turner, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 489, Issue 2 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/489/2/2478/5554000"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Ground-based follow-up observations of TRAPPIST-1 transits in the near-infrared </h3>
        <h4> Burdanov, Lederer, Gillon, Delrez, <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 487, Issue 2, p.1634-1652 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2019MNRAS.487.1634B/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The L 98-59 System: Three Transiting, Terrestrial-size Planets Orbiting a Nearby M Dwarf</h3>
        <h4> Kostov, Schlieder, Barclay, ..., <b> Ducrot </b> et al. 2019. The Astronomical Journal, vol. 158, p. 32,  <br></h4>
        <h4> <a href="https://iopscience.iop.org/article/10.3847/1538-3881/ab2459"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> NGTS-4b: A sub-Neptune transiting in the desert</h3>
        <h4> West, Gillen, Bayliss, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 486, Issue 4 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/486/4/5094/5475662"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Three hot-Jupiters on the upper edge of the mass–radius distribution: WASP-177, WASP-181, and WASP-183</h3>
        <h4> Turner, Anderson, Barkaoui, ..., <b> Ducrot </b> et al. 2019. Monthly Notices of the Royal Astronomical Society, Volume 485, Issue 4 <br></h4>
        <h4> <a href="https://academic.oup.com/mnras/article/485/4/5790/5380807"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The SPECULOOS Southern Observatory Begins its Hunt for Rocky Planets</h3>
        <h4> Jehin, ..., <b> Ducrot </b> et al. 2018. The Messenger, vol. 174, pp. 2–7, <br></h4>
        <h4> <a href="https://www.eso.org/sci/publications/messenger/archive/no.174-dec18/messenger-no174-2-7.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Activity induced variation in spin-orbit angles as derived from Rossiter–McLaughlin measurements </h3>
        <h4> Oshagh, Triaud, Burdanov, ..., <b> Ducrot </b> et al. 2018. Astronomy &amp Astrophysics, vol. 619, p. A150, <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.478.4720G/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Plasma source and loss at comet 67P during the Rosetta mission </h3>
        <h4> Heritier, Galand, Henri, ..., <b> Ducrot </b> et al. 2018. A &amp A Volume 618, October 2018 <br></h4>
        <h4> <a href="https://www.aanda.org/articles/aa/pdf/2018/10/aa32881-18.pdf"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Unmasking the hidden NGTS-3Ab: a hot Jupiter in an unresolved binary system </h3>
        <h4> Gunther, Queloz, Gillen, ..., <b> Ducrot </b> et al. 2018. Monthly Notices of the Royal Astronomical Society, Volume 478, Issue 4, p.4720-4737 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.478.4720G/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Non-detection of Contamination by Stellar Activity in the Spitzer Transit Light Curves of TRAPPIST-1 </h3>
        <h4> Morris, Agol, Hebb, Hawley, Gillon, <b> Ducrot </b> et al. 2018. The Astrophysical Journal Letters, Volume 863, Issue 2, article id. L32, 5 pp. (2018). <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018ApJ...863L..32M/PUB_PDF"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> The evanescent wave coronagraph project: setup results and demonstrator preliminary design </h3>
        <h4> Buisset, Lèpine, Thiébault, ..., <b> Ducrot </b> et al. 2018. Advances in Optical and Mechanical Technologies for Telescopes and Instrumentation III, Society of Photo-Optical Instrumentation Engineers(SPIE) Conference Series, vol. 107062P <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> SPECULOOS: a network of robotic telescopes to hunt for terrestrial planets around the nearest ultracool dwarfs </h3>
        <h4> Delrez, Gillon, Queloz, ..., <b> Ducrot </b> et al. 2018. Proceedings of the SPIE, Volume 10700, id. 107001I 21 pp. (2018). <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>
    <div class="article">
        <h3> Study of a coronagraphic mask using evanescent waves </h3>
        <h4> Buisset, Rabbia, Lepine, Alagao, <b> Ducrot </b> et al. 2017. Optics Express, vol. 25, issue 7, p. 7273 <br></h4>
        <h4> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018SPIE10700E..1ID/PUB_HTML"> [Click here to read full article]</a></h4>
    </div>


</div>
